.error-404 {

    .error-message {
        font-size: 60px;
        margin: 100px 0 50px;
        color: red;
    }

    .error-redirect-link {
        font-size: 30px;
        color: #b8d9a5;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom: 1px solid #b8d9a5;
        }
    }
}