.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #05065a;
  transition: transform 0.5s ease-out;
  z-index: 1;

  &-hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &-open {
    transform: translateY(0);
    opacity: 1;
  }
}
